.pio/
.vscode/
*.bin
*.out
*.o
~$*
settings
config
.settings
mpu_*
*launch
# *sc*
*cm23*
*cm3*
*cm7*
*cm1*
*cm0*
*.txt
*.chm
*.bin
*.out
*.o
~$*
*.dep
*.log
*.ewt
*.ewd
*.sfr
*.icf
*uvgui*
*uvopt*
*.txt
*.ini
RTE
output
config
settings
flashloader
